:root {
    --yellow:  #AC4800;
    --light-yellow: hsl(50, 45%, 83%);
    --dark-yellow: #e7e0bf;
    --brown: #806413;
    --dark-brown: #9D5500CC;
    --light-brown: #FF8A00CC;
    --light-gray: #E0E0E0;
    --gray: #E4E4E4;
    --dark-gray: #6D6D6D;
    --green: #4D661A;
    --blue: #181945;
    --white: white;
    --shadow: #B8B8B8;
    --black: #070707;
}

.text-yellow {
    color: var(--yellow);
}

.bg-dark-yellow {
    background-color: var(--dark-yellow);
}

.bg-brown {
    background-color: var(--brown);
}

.bg-dark-brown {
    background-color: var(--dark-brown);
}

.bg-white {
    background-color: var(--white);
}

.bg-light-yellow {
    background-color: var(--light-yellow);
}
.bg-light-gray {
    background-color: var(--light-gray);
}

.text-light-gray {
    color: var(--light-gray);
}

.text-yellow {
    color: var(--yellow);
}


.text-brown {
    color: var(--brown);
}

.text-dark-brown {
    color: var(--dark-brown);
}

.text-light-brown {
    color: var(--light-brown);
}

.text-green  {
    color: var(--green);
}


.text-blue {
    color: var(--blue);
}

.text-white {
    color: var(--white);
}

.text-black {
    color: var(--black);
}
